html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
    align-items: center;
    text-align: center;
    display: grid;
    /* grid-template-rows: auto auto auto auto auto;*/
    grid-template-columns: 100px 1fr 1fr 100px; 
    grid-template-areas: 
    '. logo head-menu .'
    '. hero-txt hero-img .'
    '. main main .'
    '. quote quote .'
    '. footer footer .'
    ;
    padding: 10px;
    gap: 20px;
}

.logo {
    grid-area: logo;
    color: #f9faf8;
    font-size: 24px;
    display: flex;
}

.menu {
    grid-area: head-menu;
    color: #e5e7eb;
    font-size: 18px;
    float: right;
}

.header-link {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}

.header-link a {
    color: #e5e7eb;
    text-decoration: none;
    /* padding-left: 10px; */
}

.hero-txt {
    grid-area: hero-txt;
    padding: 0 20px;
    text-align: left;
    height: 300px;
    width: 500px;
}

.hero-txt h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-txt p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
}

.hero-img {
    grid-area: hero-img;
    height: 300px;
    width: 500px;
}

.main {
    grid-area: main;
}

.main-header {
    font-size: 36px;
    font-weight: bolder;
    color: #e4ebf6;
}

.people {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person {
    color: #e4ebf6;
    margin: 15px;

}

.person img {
    border: #3882f6 3px solid;
    height: 90px;
    width: 90px;
    border-radius: 15px;
}

.quote {
    grid-area: quote;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    color: #1f2937;
}

footer {
    grid-area: footer;
    color: #e4ebf6;
    margin-top: 100px;
    padding: 25px 90px;
    height: 75px;
    width: fit-content;
    background-color: #3882f6;
    align-items: flex-start;
    text-align: center;
}
.footer-text {
    float: left;
}

/* #btn {
    text-align: center;
    justify-content: center;
    float: right;
} */
footer button {
    display: block;
    margin: auto;
    justify-content: center;
}